@import '../../variables.scss';

.balance-number-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $card-bg;
  width: auto;
  padding: 1em;
  border-radius: $card-border-radius;
  text-align: center;
  h1 {
    font-weight: bold;
    color: $primary-color;
  }
  h5 {
    font-weight: normal;
    color: $primary-color;
    svg {
      margin-right: 5px;
    }
  }
}
